<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="DefaultNetMsMQBinding">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <services>
            <service name="CalcService.Calculator">
                <endpoint address="net.msmq://localhost/private/Calculator" binding="netMsmqBinding"
                    bindingConfiguration="DefaultNetMsMQBinding" name="NetMsMQEndpoint"
                    contract="Contracts.ICalculator" />
            </service>
        </services>
    </system.serviceModel>
</configuration>