<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpEndpoint" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="netTCPEndpoint" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8085/Calculator/basic" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpEndpoint" contract="ServiceReference1.ICalculator"
                name="BasicHttpEndpoint" />
            <endpoint address="net.tcp://localhost:8086/Calculator" binding="netTcpBinding"
                bindingConfiguration="netTCPEndpoint" contract="ServiceReference1.ICalculator"
                name="netTCPEndpoint">
                <identity>
                    <userPrincipalName value="eisenhut.sidney@dh-karlsruhe.de" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>