<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <!-- Listener Konfigurieren-->
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Users\eisenhut.sidney\Source\Repos\webservice\Calculator\Log\LogTraces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      <!-- Bitte Loglevel einschalten!-->
      <diagnostics>
        <messageLogging
             logEntireMessage="true"
             logMalformedMessages="false"
             logMessagesAtServiceLevel="true"
             logMessagesAtTransportLevel="true"
             maxMessagesToLog="3000"
             maxSizeOfMessageToLog="2000"/>
      </diagnostics>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpDefaultConfiguration" maxBufferSize="100000000"
                    maxReceivedMessageSize="100000000">
                    <readerQuotas maxStringContentLength="100000000" maxArrayLength="100000000" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="binaryBinding">
                    <textMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="DefaultServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="DefaultServiceBehavior" name="CalcService.Calculator">
                <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpDefaultConfiguration"
                    name="BasicHttpEndpoint" contract="CalcService.ICalculator" />
                <endpoint address="net.tcp://localhost:8086/Calculator" binding="netTcpBinding"
                    bindingConfiguration="" name="netTCPEndpoint" contract="CalcService.ICalculator" />
                <endpoint address="http://localhost:8087/Calculator" binding="customBinding"
                    bindingConfiguration="binaryBinding" name="binaryEndpoint"
                    contract="CalcService.ICalculator" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8085/Calculator" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>