<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpDefaultConfiguration" maxBufferSize="100000000"
                    maxReceivedMessageSize="100000000">
                    <readerQuotas maxStringContentLength="100000000" maxArrayLength="100000000" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="DefaultServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="DefaultServiceBehavior" name="CalcService.Calculator">
                <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpDefaultConfiguration"
                    name="BasicHttpEndpoint" contract="CalcService.ICalculator" />
                <endpoint address="net.tcp://localhost:8086/Calculator" binding="netTcpBinding"
                    bindingConfiguration="" name="netTCPEndpoint" contract="CalcService.ICalculator" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8085/Calculator" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>